<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>xsXHHNERJfLK67S6CaqGKtFI7SJaKOkYYGV7JDkuCilv4svi6L</string>
	<key>API Key</key>
	<string>sjujdU8kJpKU35ypOrxbKUy96</string>
</dict>
</plist>
